* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*COMMON*/
body {
    font-family: 'Oswald', sans-serif;
}

/*HEADER*/
header {
    height: 785px;
}
.yellow-block {
    background-color: rgba(248, 220, 2, 0.7);
}
.empty-yellow-block {
    width: 400px;
    height: 400px;
}
.top-block {
    display: flex;
    position: relative;
}
.line-menu {
    margin: 15px;
}
.line-menu ol li{
    display: inline-block;
    font-weight: 200;
    padding-right: 70px;
}
.line-menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.main-img {
    height: 700px;
    top: -340px;
    left: 50px;
}
.main-img img {
    height: 100%;
    width: 100%;
}
.block-position {
    position: relative;
}
.main-white-bock {
    height: 700px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 200px;
    padding: 250px 30px;
    top: -1040px;
    left: 50px;
}
.letter:hover {
    color: rgba(60, 56, 57, 0.9);
}
.life {
    padding: 10px;
    width: 800px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    top: -1130px;
    float: right;
}

/*MAIN*/
.main-circle {
    border: 1px solid black ;
    background-image: url("../images/2.png");
    background-size: 100%;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.tariff-plans {
    display: flex;
    margin: 10px 50px;

}
.block-tariff {
    width: 33.3%;
    text-align: center;
    border-right-style: dotted;
    border-right-color: rgba(248, 220, 2, 0.5);
    border-right-width: 5px;
    padding: 0 10px;
    margin-right: 10px;
}
.block-tariff:last-child {
    border-right: none;
}
.block-tariff:hover {
    box-shadow: 4px 0 12px rgba(0,0,0,0.3);
    border: none;
}
.block-tariff > img {
    height: 100px;
    margin: 10px 0;
    background-color: rgba(248, 220, 2, 0.5);
    border-radius: 15px;
}
.block-tariff > img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.name-tariff-plan {
    font-size: 24px;
    font-weight: bold;
}
.include-tariff {
    margin: 10px 0;
    padding: 10px 0;
    border-top-style: dotted;
    border-top-color: rgba(248, 220, 2, 0.5);
    border-top-width: 5px;
}
.service-block {
    width: 130px;
    padding: 1px 5px;
    display: flex;
    margin: 0 auto;
}
.img-service-size{
    width: 35px;
    height: 35px;
}
.img-service img{
    width: 100%;
    height: 100%;
}
.service-block > p {
    padding: 10px 0;
}
.block-tariff > .service-block {
    margin-bottom: 10px;
}

/*FOOTER*/
