* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*COMMON*/
body {
    font-family: 'Oswald', sans-serif;
}

/*HEADER*/
header {
    height: 50px;
}
.yellow-block {
    background-color: rgba(248, 220, 2, 0.7);
}
.empty-yellow-block {
    width: 400px;
    height: 400px;
    position: absolute;
}
.top-block {
    text-align: right;
}
.line-menu {
    margin: 15px;
    float: right;
}
.line-menu ol li{
    display: inline-block;
    font-weight: 200;
    padding-right: 70px;
}
.line-menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*MAIN*/

.main-img {
    height: 700px;
    margin: 0 50px;
}
.main-img img {
    height: 100%;
    width: 100%;
}
.block-position {
    position: relative;
}
.main-white-bock {
    height: 700px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 200px;
    padding: 250px 30px;
    position: absolute;
    top: 0;
}
.letter:hover {
    color: rgba(60, 56, 57, 0.9);
}
.life {
    padding: 10px;
    width: 800px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    bottom: 30px;
    right: -50px;
    position: absolute;
}
#counter {
    display: flex;
    margin: 30px 0;
}
.number, .text {
   text-align: center;
    font-size: 30px;
}
.text {
    margin: 10px 0;
}
.block-count {
    margin: 0 auto;
    padding: 40px 0;
    width: 200px;
    height: 125px;
}
.magic-button-home{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: 30%;
}

.magic-button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: none;
}

.scheme{
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    text-align: center;
    background-image: url("../images/click.jpg");
}

.magic-text-1, .magic-text-2, .magic-text-3, .magic-text-4, .magic-text-5  {
    position: absolute;
}

.magic-text-1 {
    bottom: calc(100% - 200px);
    right: calc(100% - 100px);
}

.magic-text-2 {
    bottom: calc(100% - 200px);
    left: calc(100% - 100px);
}

.magic-text-3 {
    top: calc(100% - 120px);
    left: calc(100% - 100px);
}

.magic-text-4 {
    top: calc(100% - 120px);
    right: calc(100% - 100px);
}
.magic-text-5 {
    bottom: calc(100% - 100px);
    left: calc(50% - 50px);

}
.description {
    display: flex;
}
.side-description {
    background-color: lightblue;
    height: 400px;
    width: 400px;
}

.tariff-plans {
    display: flex;
    margin: 10px 50px;
}
.block-tariff {
    width: 33.3%;
    text-align: center;
    border: 1px solid rgb(246,248,247);
    margin-right: 10px;
}
.frame-img {
    background-color: rgb(246,248,247);
    padding: 60px 0;
    width: 100%;
}
.block-tariff:hover {
    box-shadow: 4px 0 12px rgba(0,0,0,0.3);
}

.active, .active:hover {
    box-shadow: 4px 0 12px rgba(248, 220, 2, 0.7);
}

.block-tariff:last-child:hover {
    /*padding: 0 5px 0 5px;*/
}
.block-tariff > img {
    height: 100px;
    margin: 10px 0;
    background-color: rgba(248, 220, 2, 0.5);
    border-radius: 15px;
}
.block-tariff > img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.name-tariff-plan {
    font-size: 40px;
    font-weight: bold;
}
.include-tariff {
    margin: 10px 0;
    padding: 10px 0;
}
.service-block {
    width: 130px;
    padding: 1px 5px;
    display: flex;
    margin: 0 auto;
}
.img-service-size{
    width: 35px;
    height: 35px;
}
.img-service img{
    width: 100%;
    height: 100%;
}
.service-block > p {
    padding: 10px 5px;
}
.block-tariff .service-block {
    margin-bottom: 10px;
    width: 33.3%;
    float: left;
}
.block-choice .service-block:hover{
    box-shadow: 4px 0 12px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.basket-icon {
    margin: 80px auto 10px auto;
}
.my-choice > .service-block {
    width: 33.3%;
    float: left;
}
.clear {
    clear: both;
}
.tariff-items, .my-choice {
    padding: 0 30px;
}

/*FORM*/
.block-form {
    background-image: url("../images/form 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 50px;
}

.form-line {
    display: flex;
}
.clients-order {
    width:100%;
    background-color: rgba(255, 255, 255, 0.2);
}

form {
    width: 515px;
    margin: 0 auto;
    padding: 20px 0;
}

.form-name {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.additional-text-from {
    font-size: 15px;
    margin: 20px 5px;
    text-align: center;
}
label {
    display: block;
}
.margin-field {
    margin: 10px 0;
}
.name-field {
    margin: 1px 7px;
}
.field {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7) ;
    width: 250px;
    margin: 0 5px;
}
textarea {
    width: 510px;
    height: 100px;
    margin: 10px 5px;
}
.hidden_err {
    color: rgb(85,107,47);
    display: none;
    margin-left: 7px;
    font-family: "Arial";
    font-style: italic;
}
.error {
    border-color: rgb(85,107,47);
}
.send-form {
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 5px 0;
    background-color: white;
}
/*FOOTER*/
footer {
    margin-top: 20px;
    padding: 20px 10px;
}
