* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*COMMON*/
body {
    font-family: 'Oswald', sans-serif;
}

/*HEADER*/
header {
    height: 50px;
}
.yellow-block {
    background-color: rgba(248, 220, 2, 0.7);
    z-index: -10;
}
.empty-yellow-block {
    width: 400px;
    height: 400px;
    position: absolute;
}
.top-block {
    text-align: right;
}
.line-menu {
    margin: 15px;
    float: right;
}
.line-menu ol li{
    display: inline-block;
    font-weight: 200;
    padding-right: 70px;
}
.line-menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;
}
.line-menu a:hover {
    border: 1px solid rgba(248, 220, 2, 0.7);
    border-radius: 20px;
    padding: 0 9px;
}

/*MAIN*/
.button-up {
    position: fixed;
    background-image: url("../images/up-arrow.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    right: 5px;
    bottom: 5px;
    z-index: 1000;
    opacity: 0.7;
    cursor: pointer;
    display: none;
}

.main-img {
    height: 700px;
    margin: 0 50px;
}
.main-img img {
    height: 100%;
    width: 100%;
}
.block-position {
    position: relative;
}
.main-white-bock {
    height: 700px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 200px;
    padding: 250px 30px;
    position: absolute;
    top: 0;
}
.letter:hover {
    color: rgba(60, 56, 57, 0.9);
}
.life {
    padding: 10px;
    width: 800px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    bottom: 30px;
    right: -50px;
    position: absolute;
    z-index: 100;
}
#counter {
    display: flex;
    margin: 30px 0;
}
.number, .text {
   text-align: center;
    font-size: 30px;
}
.text {
    margin: 10px 0;
}
.block-count {
    margin: 0 auto;
    padding: 40px 0;
    width: 200px;
    height: 125px;
}
.magic-button-home{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-top: 25%;
    margin-right: 4%;
    animation: scale 0.9s infinite;
    transform: scale(1);
    animation-direction: alternate;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.magic-button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: none;
    margin: -15px;
}

.magic-button-home:hover, .magic-button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.scheme{
    width: 650px;
    height: 400px;
    position: relative;
    margin: auto;
    text-align: center;
    background-image: url("../images/buttom.jpg");
    background-size: cover;
}

.magic-text-1, .magic-text-2, .magic-text-3, .magic-text-4, .magic-text-5  {
    position: absolute;
}

.magic-text-1 {
    bottom: calc(100% - 200px);
    right: calc(100% - 100px);
}

.magic-text-2 {
    bottom: calc(100% - 200px);
    left: calc(100% - 100px);
}

.magic-text-3 {
    top: calc(100% - 120px);
    left: calc(100% - 100px);
}

.magic-text-4 {
    top: calc(100% - 120px);
    right: calc(100% - 100px);
}
.magic-text-5 {
    bottom: calc(100% - 100px);
    left: calc(50% - 50px);

}
.description {
    display: flex;
}
.side-description {
    height: 400px;
    width: 467px;
    background-image: url("../images/buttom.jpg");
}
.side-left, .side-right {
    display: block;
    font-size: 30px;
    margin: 33% auto;
    text-align: center;
}

.tariff-plans {
    display: flex;
    margin: 50px;
}
.block-tariff {
    width: 33.3%;
    text-align: center;
    border: 1px solid rgb(246,248,247);
    margin-right: 10px;
}
.frame-img {
    padding: 40px 0;
    width: 100%;
}
.block-tariff:hover {
    box-shadow: 4px 0 12px rgba(0,0,0,0.3);
    cursor: pointer;
}

.active, .active:hover {
    box-shadow: 4px 0 12px rgba(248, 220, 2, 0.7);
}

.block-tariff > img {
    height: 100px;
    margin: 10px 0;
    background-color: rgba(248, 220, 2, 0.5);
    border-radius: 15px;
}
.block-tariff > img:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.name-tariff-plan {
    font-size: 40px;
    font-weight: bold;
}
.include-tariff {
    margin: 10px 0;
    padding: 10px 0;
}
.service-block {
    width: 130px;
    padding: 1px 5px;
    display: flex;
    margin: 0 auto;
}
.img-service-size{
    width: 35px;
    height: 35px;
}
.img-service img{
    width: 100%;
    height: 100%;
}
.service-block > p {
    padding: 10px 5px;
}
.block-tariff .service-block {
    margin-bottom: 10px;
    width: 33.3%;
    float: left;
}
.block-choice .service-block:hover{
    box-shadow: 4px 0 12px rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: pointer;
}
.basket-icon {
    margin: 80px auto 10px auto;
}
.my-choice > .service-block {
    width: 33.3%;
    float: left;
}
.clear {
    clear: both;
}
.tariff-items, .my-choice {
    padding: 0 30px;
}
.advantages {
    margin: 30px auto;
    max-width: 1100px;
}
.advantage-main{
    text-align: center;
    font-size: 40px;
}
.advantage-line {
    display: flex;
}
.block-advantage {
    height: 200px;
    width: 250px;
    box-shadow: 4px 0 12px grey;
    margin: 20px auto;
    text-align: center;
    transition: 0.5s;
}
.block-advantage:hover {
    transform: scale(1.1);
}
.advantage-1 {
    background-image: url("../images/advantage1.jpg");
    background-position: 67% 50%;
}
.advantage-2 {
    background-image: url("../images/advantage2.jpg");
    background-position: 16% 50%;
}
.advantage-3 {
    background-image: url("../images/advantage3.jpg");
    background-position: 16% 50%;
}
.advantage-4 {
    background-image: url("../images/advantage4.jpg");
    background-position: 45% 82%;
}
.advantage-opacity {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}
.advantage-name {
    padding: 30px;
    font-size: 25px;
}
.advantage-description {
    font-family: Arial;
    margin-bottom: 20px;
}

/*FORM*/
.block-form {
    background-image: url("../images/form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 50px;
}

.form-line {
    display: flex;
}
.clients-order {
    width:100%;
    background-color: rgba(255, 255, 255, 0.2);
}

form {
    width: 515px;
    margin: 0 auto;
    padding: 20px 0;
}

.form-name {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.additional-text-from {
    font-size: 15px;
    margin: 20px 5px;
    text-align: center;
}
label {
    display: block;
}
.margin-field {
    margin: 10px 0;
}
.name-field {
    margin: 1px 7px;
}
.field {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7) ;
    width: 250px;
    margin: 0 5px;
}
textarea {
    width: 510px;
    height: 100px;
    margin: 10px 5px;
}
.hidden_err {
    color: rgb(85,107,47);
    display: none;
    margin-left: 7px;
    font-family: "Arial";
    font-style: italic;
}
.error {
    border-color: rgb(85,107,47);
}
.send-form {
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 5px 0;
    background-color: white;
}
#form_private {
    text-align: center;
}
/*FOOTER*/
footer {
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 1300px) {
    .line-menu ol li {
        padding-right: 8px;
    }
    .main-white-bock {
        padding: 50px;
    }
}
@media (max-width: 1200px) {
    .magic-button-home {
        margin-top: 37%;
    }
    .magic-button {
        margin: -4px;
    }
}

@media (max-width: 1050px) {
    .advantage-line {
        display: block;
    }
    .tariff-plans {
        display: block;
    }
    .block-tariff {
      width: 100%;
    }
}

@media (max-width: 750px) {
    .side-description {
        display: none;
    }
    .scheme {
        width: 100%;
    }
    .magic-button-home {
        margin-top: 33%;
    }
}

@media (max-width: 600px) {
    .line-menu ol li {
        padding-right: 0px;
    }
    .line-menu a {
        padding:0 2px;
    }
    .main-img {
        height: 530px;
    }
    .main-white-bock {
        height: 530px;
        padding: 15px;
    }
    .life {
        width: 375px;
        font-size: 36px;
        z-index: 100;
    }
    .letter{
        font-size: 150px;
    }
    #counter {
        display: block;
    }
    .advantage-line {
        display: block;
    }
    .field {
        width: 230px;
    }
    textarea {
        width: 469px;
    }

}

