* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*COMMON*/
body {
    font-family: 'Oswald', sans-serif;
}

/*HEADER*/
.yellow-block {
    background-color: rgba(248, 220, 2, 0.7);
}
.empty-yellow-block {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 10;
}
.top-block {
    position: relative;
}
.line-menu {
    position: absolute;
    right: 0;
    margin: 15px;
}
.line-menu ol li{
    display: inline-block;
    font-weight: 200;
    padding-right: 70px;
}
.line-menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.block-main-img {
    height: 700px;
    position: absolute;
    z-index: 20;
}
.main-img img {
    height: 100%;
    width: 100%;
}
.main-white-bock {
    height: 700px;
    width: 500px;
    position: absolute;
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 200px;
    padding: 250px 30px;
}
.img-position {
    left: 50px;
    top: 50px;
    right: 50px;
}
.letter:hover {
    color: rgba(60, 56, 57, 0.9);
}
.life {
    padding: 10px;
    width: 800px;
    position: absolute;
    z-index: 40;
    right: 0;
    bottom: 50px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

/*MAIN*/
/*FOOTER*/
